:root {
    --product-primary-0: #fef2f2;
    --product-primary-10: #fee2e2;
    --product-primary-20: #fecaca;
    --product-primary-30: #fca5a5;
    --product-primary-40: #f87171;
    --product-primary-50: #e53935;
    --product-primary-60: #d32f2f;
    --product-primary-70: #c62828;
    --product-primary-80: #b71c1c;
    --product-primary-90: #8e1313;
    --product-primary-100: #5f0a0a;
    --product-secondary-0: #f8fafc;
    --product-secondary-10: #f1f5f9;
    --product-secondary-20: #e2e8f0;
    --product-secondary-30: #cbd5e1;
    --product-secondary-40: #94a3b8;
    --product-secondary-50: #64748b;
    --product-secondary-60: #475569;
    --product-secondary-70: #334155;
    --product-secondary-80: #1e293b;
    --product-secondary-90: #0f172a;
    --product-secondary-100: #020617;
    --product-tertiary-0: #defdf2;
    --product-tertiary-10: #ecedf6;
    --product-tertiary-20: #d0d4ea;
    --product-tertiary-30: #b6bbdd;
    --product-tertiary-40: #9ba2d1;
    --product-tertiary-50: #7884cb;
    --product-tertiary-60: #6b76bd;
    --product-tertiary-70: #5c67ae;
    --product-tertiary-80: #525b97;
    --product-tertiary-90: #424979;
    --product-tertiary-100: #303659;
    --gray-0: #ffffff;
    --gray-10: #f6f6f6;
    --gray-20: #e4e4e4;
    --gray-30: #d2d2d2;
    --gray-40: #c0c0c0;
    --gray-50: #a4a4a4;
    --gray-60: #7f7f7f;
    --gray-70: #5b5b5b;
    --gray-80: #3d3d3d;
    --gray-90: #1f1f1f;
    --gray-100: #0a0a0a;
    --orange-0: #fdf9f2;
    --orange-10: #f9ecd8;
    --orange-20: #eecb92;
    --orange-30: #e5b460;
    --orange-40: #de9e33;
    --orange-50: #d58500;
    --orange-60: #c77901;
    --orange-70: #b76c01;
    --orange-80: #a85f01;
    --orange-90: #985201;
    --orange-100: #503200;
    --red-0: #fcece6;
    --red-10: #f6c2b1;
    --red-20: #f2a288;
    --red-30: #ef9071;
    --red-40: #ec7b55;
    --red-50: #e9653a;
    --red-60: #e75727;
    --red-70: #dc4918;
    --red-80: #bc3f15;
    --red-90: #a13612;
    --red-100: #77280d;
}
